section#about.section.scrollspy
    h3.page-title.white-text.teal About
    .container.flow-text
        blockquote
            h2 Computer Science and Business Student @ Western University/Ivey Business School
        p
            | As you could probably tell from the degree choice, I enjoy both programming and helping to make business decisions. I have experience in software development and in project management, and I had an equally great time with both.
        p
            | For the near future, I'm primarily interested in technical roles as I believe that's where I'd find the greatest learning opportunity. Please feel free to
            a(href="#contact", aria-label="Click to go to contact section")  reach out
            |  or
            a(href="https://drive.google.com/file/d/1SeEayu0jboVNuC0EHY1nmGUEuyENJ5Ry/view?usp=sharing", target="_blank", aria-label="Click to go to resume")  check out my resume!
        p #[strong Current Interests]:
            | &nbsp;
            a(
                aria-label='Navigate to article about precision medicine'
                href='https://www.cancer.gov/about-cancer/treatment/types/precision-medicine'
            ) Precision Healthcare
            | &nbsp;//&nbsp;
            a(
                aria-label='Navigate to article about benefits of self-driving cars'
                href='https://coalitionforfuturemobility.com/benefits-of-self-driving-vehicles/'
            ) Self-Driving Vehicles
            | &nbsp;//&nbsp;
            a(
                aria-label='Navigate to article about psychedelic medicine'
                href='https://www.newscientist.com/article/2144520-psychedelic-medicine-the-potential-the-people-the-politics/'
            ) Psychedelic Medicine
        p #[strong Favourite Books]:
            | &nbsp;
            a(
                aria-label='Navigate to goodreads entry about Thinking Fast and Slow'
                href='https://www.goodreads.com/book/show/11468377-thinking-fast-and-slow'
            ) Thinking Fast and Slow
            | &nbsp;//&nbsp;
            a(
                aria-label='Navigate to goodreads entry about The Autobiograohy of Gucci Mane'
                href='https://www.goodreads.com/book/show/34623128-the-autobiography-of-gucci-mane'
            ) The Autobiography of Gucci Mane


